body{
    background-color: bisque;
}


.a1{
    color: rgb(0, 0, 0);
    text-align: left;
}

.a2{
    text-align: left;
}

.lune{
    width: 100%;
    height: 200px;
 margin: auto; 
 border: 5px solid rgb(7, 86, 231);
}

.tableau{
    background-color: aliceblue;
}